.session-form {
    display: flex;
    flex-direction: row;
    background: #F2EBDC;
}

.session-form-left{
    width: 60%;
}
.session-form-left img {
    width: 100%;
    height: 950px;
    object-fit: cover;
    object-position: left bottom;
}


.session-form-right {
     width: 40%;
    padding-left: 110px;
    box-sizing: border-box;
    padding-right: 110px;
    padding-top: 50px;
}

.form-content{
    align-items: center ;
}

.form-content  input[type=text], input[type=password] {
  width: 100%;
  margin: 5px 0;
  display: inline-block;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 17px;
}

.sign-up-link{
     margin-top: 20px;
     display: inline-block
}

.sign-up-link a{
    text-decoration: none;
    color: #499C38;
}

.sign-up-link a:hover{
    text-decoration: underline #99A638;
    color: #6D7340;
}



.session-form input[type=submit] {
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 117px;
    height: 30px;
    background-color: #499C38;
    color: white;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}





.session-form h1{
     color: #499C38;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}

.session-form button{
    background-color: #7EA790;
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    margin-top: 16px;
    cursor: pointer;
}

.submit-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


input[type=password]:focus{
  outline: none;    
 
}

input[type=text]:focus{
  outline: none;    
}


.session-form-right img{
    width: 180px;
}


.background-img{
    width: 100%;
    height: 1000px;
    opacity: 0.9;
    min-width: 600px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.home{
    line-height: 1.5;
    background-color: black;
    min-width: 600px;
   position: relative;
}

  
.home h1{
   position: absolute;
    top: 35%;
    color:#293040;
    font-family: 700;
    border-radius: 2px;
    right: 20;
    font-size: 58px;
    font-weight: 800;
    padding: 75px;
    right: 31px;
     margin: 30px;
     overflow: hidden;
     display: inline-block;
}

.home-logo {
    position: absolute;
    z-index: 100;
    margin-left: 32px;
    margin-top: 20px;
}

.home-logo img{
    width: 100px;
    height: 99px;
}

.home-button{
    position: absolute;
    z-index: 1;
    right: 0;
}

.home-button button{
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.6;
    width: 120px;
    height: 35px;
    border-radius: 11px;
    margin-top: 40px;
    margin-right: 17px;
    border:none
}



.home-button button a{
    text-decoration: none;
    color: #293040;
}